In [1]:
print("Twinkle,Twinkle,little star.\n How I wonder what you are!\n Up above the world so high,\n Like a diamond in the sky.\nTwinkle,Twinkle,little star.\n How I wonder what you are!")

Twinkle,Twinkle,little star.
 How I wonder what you are!
 Up above the world so high,
 Like a diamond in the sky.
Twinkle,Twinkle,little star.
 How I wonder what you are!

In [2]:
first_name = input("Enter the first name:")
last_name = input("Enter the last name: ")
print(last_name,first_name)

Enter the first name:Yaismeen
Enter the last name: Khan
Khan Yaismeen

In [3]:
radius=float(input("Enter the radius of the circle:"))
pi=3.14
area=pi*radius*radius
print("The area of the circle is:",area)

Enter the radius of the circle:5
The area of the circle is: 78.5

In [4]:
color_list=["red","green","white","black"]
print(color_list[0])
print(color_list[3])

red
black

In [7]:
n = int(input("Enter an integer:"))
nn = int(f"{n}{n}")
nnn = int(f"{n}{n}{n}")
result = n + nn + nnn
print("The result is:",result)

Enter an integer:5
The result is: 615

In [8]:
numbers = input("Enter a sequence of comma-seperated numbers :")
numbers_list = numbers.split(",")
numbers_tuple = tuple(numbers_list)
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter a sequence of comma-seperated numbers :3,5,7,23
List: ['3', '5', '7', '23']
Tuple: ('3', '5', '7', '23')

In [9]:
celsius = float(input("Enter the temperature in celsius: "))
fahrenheit = 1.8*celsius + 32
print(fahrenheit)

Enter the temperature in celsius: 36
96.8

In [10]:
num_1=int(input("Enter first number :"))
num_2=int(input("Enter second number :"))
print(num_2,num_1)
a=num_2+1+num_1+1
print(a)

Enter first number :5
Enter second number :4
4 5
11

In [11]:
num = int(input("Enter the number: "))
if (num%2 == 0) :
 print("It is an even number.")
else :
 print("It is an odd number.")

Enter the number: 5
It is an odd number.

In [12]:
year = int(input("Enter the year: "))
if (year%4 == 0) :
 print("It is a leap year.")
else :
  print("It is not an leap year.")

Enter the year: 2016
It is a leap year.

In [17]:
x1,y1 = int(input("x1:")), int(input("y1:"))
x2,y2 = int(input("x2:")), int(input("y2:"))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("The distance is:",distance)

x1:5
y1:4
x2:8
y2:7
The distance is: 4.242640687119285

In [20]:
a1, a2, a3 = float(input("a1:")),float(input("a2:")),float(input("a3:"))
sum = a1 + a2 + a3
if (sum == 180) :
  print("This is a triangle.")
else :
   print("This is not a triangle.")

a1:50
a2:60
a3:90
This is not a triangle.

In [24]:
principle= int(input("principle: "))
rate=int(input("rate: "))
time= int(input("time: "))
compound_interest= principle*((1+rate)**time)
print("The compound interest is:",compound_interest)

principle: 500
rate: 2
time: 1
The compound interest is: 1500

In [26]:
N = int(input("Enter the number : "))
c = 0
for i in range (2,N):
 if(N % i == 0) :
  c=c+1
if c > 0:
 print("The number is not Prime")
else:
 print("The number is Prime")

Enter the number : 5
The number is Prime

In [27]:
n = int(input("Enter the number: "))
sum = 0
for i in range(1,n+1) :
 sum = sum + i**2
 print(sum)

Enter the number: 25
1
5
14
30
55
91
140
204
285
385
506
650
819
1015
1240
1496
1785
2109
2470
2870
3311
3795
4324
4900
5525