In [ ]:
def difference(n):
  if n<=17:
    return 17-n
  else:
   return (17-n)*2
print(difference(22))

-10

In [ ]:
def range(n):
  return 100<=n<=1000 or n<=2000
output1=range(150)
print("The number lies within the series:",output1)
output2=range(2100)
print("The number does not lies within the series:",output2)

The number lies within the series: True
The number does not lies within the series: False

In [ ]:
n=input("Enter a string:")
print("The reverse string is :",n[::-1])

Enter a string:Yashi
The reverse string is : ihsaY

In [ ]:
n=input("Enter a string:")
upper_count=sum(1 for char in n if char.isupper())
lower_count=sum(1 for char in n if char.islower())
print("Upper case letters:",upper_count)
print("Lower case letters:",lower_count)

Enter a string:HArdWork
Upper case letters: 3
Lower case letters: 5

In [ ]:
def unique_list(m):
    x = []
    for i in m:
        if i not in x:
            x.append(i)
    return x

print(unique_list([1, 1, 2, 2, 3, 4, 5, 5]))

[1, 2, 3, 4, 5]

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
even_numbers=[num for num in list if num%2==0]
print("The even numbers are:",even_numbers)

The even numbers are: [2, 4, 6, 8]

In [ ]:
def student(name,age,grade):
   pass
arg_names=student.__code__.co_varnames[:student.__code__.co_argcount]
print("The name of arguments:",arg_names)

The name of arguments: ('name', 'age', 'grade')

In [4]:
class Student:
  def __init__(write,student_id,student_name,student_class):
    write.student_id=student_id
    write.student_name=student_name
    write.student_class=student_class
  def display_attributes(write):
    print(f"Student id:{write.student_id}")
    print(f"Student name:{write.student_name}")
    print(f"Student class:{write.student_class}")

student=Student(1,"Arjun","XII Grade")
student.display_attributes()

Student id:1
Student name:Arjun
Student class:XII Grade

In [6]:
class Student:
  def __init__(write,student_id,student_name,student_class):
    write.student_id=student_id
    write.student_name=student_name
    write.student_class=student_class

student1=Student(1,"Arjun","XII Grade")
student2=Student(2,"Kabeer","X Grade")

print(f"Student1 - ID: {student1.student_id}, Name: {student1.student_name}, Class: {student1.student_class}")
print(f"Student2 - ID: {student2.student_id}, Name: {student2.student_name}, Class: {student2.student_class}")

Student1 - ID: 1, Name: Arjun, Class: XII Grade
Student2 - ID: 2, Name: Kabeer, Class: X Grade

In [10]:
import math

class Circle:
  def __init__(write,radius):
    write.radius=radius
  def area(write):
    return math.pi*(write.radius**2)
  def perimeter(write):
    return 2*math.pi*write.radius

circle1=Circle(6)
print(f"The Area is:{circle1.area()}")
print(f"The Perimeter is:{circle1.perimeter()}")

The Area is:113.09733552923255
The Perimeter is:37.69911184307752

In [12]:
class StringChange:
  def __init__(write):
    write.input_string=""
  def get_string(write):
    write.input_string=input("Enter a string:")
  def print_string(write):
    print(write.input_string.upper())
str_change=StringChange()
str_change.get_string()
str_change.print_string()

Enter a string:Hardwork
HARDWORK